.container {
  padding: 5em 10vw;
}

.landing {
  height: 100vh;
  background-image: url(./assets/images/earth-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  nav {
    display: flex;
    align-items: center;

    h1 {
      font-weight: normal;

      span {
        color: #3470b9;
        font-weight: 900;
      }
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headline {
      font-size: 3em;
      text-align: center;
    }

    input[type=text] {
      padding: 1em 2em;
      margin: 4em 0 2em 0;
      width: 80vw;
      max-width: 500px;
      font-size: large;
      outline: none;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: rgba($color: #fff, $alpha: .13);
      color: #fff;
      caret-color: #fff;
    }

    .actions {
      display: flex;
      justify-content: space-evenly;

      input[type=submit],
      input[type=button] {
        padding: 1em 2em;
        outline: none;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 30px 7px rgba($color: #fff, $alpha: .3);
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        transition: 0.3s ease-in-out;
      }

      input[type=submit] {
        background-color: #3470b9;
        color: #fff;
      }

      input[type=submit]:hover,
      input[type=button]:hover {
        opacity: 0.8;
      }
    }

    ::placeholder {
      color: rgba($color: #fff, $alpha: .5);
    }
  }
}

.search-result {
  background-color: #000;

  .content {
    position: relative;
    z-index: 1;
    font-size: 123%;
  }
}

.special {
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 1.0);
  min-height: 100vh;

  .content {
    position: relative;
    z-index: 1;
    font-size: 123%;

    p {
      margin: 1em 0 2em 0;
    }

    img {
      width: 80vw;
      max-width: 700px;
      border: 2px solid rgba($color: #fff, $alpha: 0.9);
      border-radius: 13px;
    }
  }
}

@media (max-width: 760px) {
  .container {
    padding: 2em 10vw;
  }
}

@media (max-height: 600px) {
  .landing {
    height: fit-content;

    nav {
      margin-bottom: 2em;
    }
  }
}

.fixed-bg {
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/images/stars-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spinner {
  font-size: 2.7em;
  transition: 0.5s ease-in-out;
  animation: loading 0.7s linear infinite forwards;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}